@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --Blanc: #FFFFFF;
    --Jaune: #FAB637;
    --Rouge: #FF4848;
    --Orange: #CC6119;
    --GrisClair: #ECEFF3;
    --Noir: #232628;
    --Bleu: #6C98E1;


body{
    
}

#Header1{
    font-family: Montserrat;
    font-size: smaller;
    background-color: var(--Noir);
    display: flex; /* Utilisation de Flexbox */ 
    align-items:flex-start;
    
    
    
}

p{
    margin: 0;
} 

#bloc1, #bloc2, #bloc3, #bloc4{
    margin-right: 20px; /* Espacement horizontal entre les éléments */
    margin-top: 10px;
}


a h3 {
    color: var(--Blanc);
    font-weight: 600;
    margin-right: 20px;
} 

#Loc, #Tel{
    width: 28px;
    height: 28px;
    display: flex; /* Utilisation de Flexbox */
    margin-top: 10px; 
    margin-right: 5px;
    
}

#bloc1 img {
    align-self: center; /* Alignement vertical au centre */
    margin-bottom: -1rem; /* Décalage vers le bas (ajustez selon vos besoins) */
}

#bloc2 img{
    align-self: center; /* Alignement vertical au centre */
    margin-bottom: -1rem; /* Décalage vers le bas (ajustez selon vos besoins) */
}



#bloc4 svg{
    width: 30px;
}
    



#Header1>h2{
    color: var(--Blanc);
    font-weight: 700;
}

#Adr, #Tél, #Ouv, #Hor{
    color: var(--Orange);
    text-transform: uppercase;
    font-weight: bold;
    font-size: xx-small;
    
}

#Av, #Cp{
    color: var(--Blanc);
    text-transform: uppercase;
    font-size: xx-small;
}

#Num{
    color: var(--Blanc);
    font-weight: bold;
    font-size:x-small;
}

#Ouv1, #Hor1{
    color: var(--Blanc);
    font-weight: bold;
    font-size: xx-small;
    text-transform:capitalize;
    
}

#Ouv, #Hor{
 font-size: xx-small;   
 
}

#BarreDeNav{
   
}

#imgHeader{

}
