@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --Blanc: #FFFFFF;
    --Jaune: #FAB637;
    --Rouge: #FF4848;
    --Orange: #CC6119;
    --GrisClair: #ECEFF3;
    --Noir: #232628;
    --Bleu: #6C98E1;
}

/*Header et Navbar*/

#Header{
    height: 100px;
    font-family: 'Montserrat';
    font-size: small;
    background-color: var(--Noir);
    display: flex; /* Utilisation de Flexbox */ 
    align-items:center; 
    
}

#Header a h2 {
    color: var(--Blanc);
    font-weight: 700;
    margin-right: 15px;
} 

p{
    margin: 0;
} 

#bloc1, #bloc2, #bloc3{
    margin-right: 20px; /* Espacement horizontal entre les éléments */
    padding-top: 10px;
}

#Loc, #Tel{
    width: 28px;
    height: 28px;
    display: flex; 
    margin-bottom: 10px; 
    margin-right: 5px;    
}

#bloc4 .btn {
    background-color: #393d40;
    border-radius: 100%;
}


    
#Adr, #Tél, #Ouv, #Hor{
    color: var(--Orange);
    text-transform: uppercase;
    font-weight: bold;
    font-size: xx-small;
    
}

#Av, #Cp{
    color: var(--Blanc);
    text-transform: uppercase;
    font-size: xx-small;
}

#Num{
    color: var(--Blanc);
    font-weight: bold;
    font-size: small;
}

#Ouv1, #Hor1{
    color: var(--Blanc);
    font-weight: bold;
    font-size: xx-small;
    text-transform:capitalize;
    
}

#Ouv, #Hor{
 font-size: xx-small;   
 
}

.bgNav{
    background-image: url(/images/vehicule1.jpg);
    height: 750px;
    background-size:cover;
    background-repeat: no-repeat;
   
    
}

nav ul{
    background-color: #eceff3c9;
     
}

nav ul li{
    height: 50px;
    color: var(--Noir);
    font-weight: 800;
    font-family: 'Montserrat';
    font-size: small;
    text-transform:uppercase;
    display: flex;
    align-items: center; 
    
}

#marginR{
    margin-right: 220px;
}


#navbar-content ul li:hover{
    color: var(--Blanc);
    background-color: var(--Orange);
    contain:style;
}




#footer1{
    height: 100px;
    background-color: var(--Noir);
    text-transform: uppercase;
    font-size: small;
    color: var(--Blanc);
}

#footer1 h2{
    color: var(--Blanc);
    font-family: 'Montserrat';
    font-weight: 700;
}

#footer1 span{
    color: var(--Orange);
    font-family: 'Montserrat';
    font-weight: 700;
    
}

/*1.PRESENTATION*/
#Title1, #Title2{
    font-family: 'Montserrat';
    font-weight: 800;
    font-size:large;
}

#Title1 span{
    color: var(--Orange);
}

#SubTitle, .TextPres1{
    font-family: 'Open Sans';
    font-size: small;
}

#SubTitle{
    color:var(--Noir);
    font-weight: 600;
}

.TextPres1{
    color: #555555;
    font-weight: 600;
}

#color{
    color: #898989;
}

hr{
    color: #898989;
}


#tick li{
    list-style: none;
    list-style-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23CC6119' d='M437.3 30L202.7 339.3L64 200.7l-64 64L213.3 478L512 94z'/%3E%3C/svg%3E");
    font-size: small;
    font-family: 'Open Sans';
    color: #555555;
    font-weight: 600;
}
/*2.ACHETER OU LOUER*/

.bgAouL{
    background-image: url(/images/horizon.jpg);
    height: 650px;
    background-size:cover;
    background-repeat: no-repeat;
    font-size: small;
    background-position: 100%;
}

#article1{
    background-color: var(--Jaune);
    opacity: 88%;
    height: 382px;
    padding-top: 180px;
    padding-left: 70px;
    padding-right: 50px;

    
    
}

#article2{
    background-color:var(--Rouge);
    opacity: 88%;
    height: 382px;
    padding-top: 180px;
    padding-left: 70px;
    padding-right: 50px;
}

#article1 h4, #article2 h4{
    font-family: 'Montserrat';
    font-weight:800;
    font-size:30px;
    color: black;
}

#article1 p,  #article2 p{
    font-family: 'Open Sans';
    color: var(--Blanc);
    font-size: small;
}

/*3.Véhicules récents*/

.bgVr{
    background-color: var(--Noir);
    height: 700px;
}

.titre3{
    color: var(--Blanc);
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Montserrat';
}

.bgVr #hr1{
    color: var(--Orange);
    opacity: 100;
    border-top: 3px solid;
}



.card1, .card2, .card3, .card-img-top{
    border-radius: 0%;
    border: none;
    background-color: var(--Noir);
}

.card3 .btn span{
    color: var(--Noir);
    text-decoration: line-through;
    font-size: small;
    font-weight:normal;
    padding-left: 9px;
   
    
}

.card-body{
    background-color: #373c3f;
    
}

.card-body .btn{
    background-color: #6c98df;
    border: none;
    border-radius: 0%;
    color: var(--Blanc);
    font-weight: 700;
    font-family: 'Montserrat';
    font-size: 15px;
    padding-left: 4px;
    width: 90px;
    
    
}

.card-body h6{
    font-family: 'Montserrat';
    font-weight: 700;
    text-transform: uppercase;
    color: var(--Blanc);
}

.bgVr #hr2{
   border-top:2px solid;
   margin-bottom: 0px;
   
    
}

/*4.Pourquoi nous choisir ?*/
.iconePnc{
    width: 40px;
    height: 40px;
}

.partie4 h4{
    font-family: 'Montserrat';
    font-weight: 750;
    font-size: 30px;
    margin-bottom: 90px;
}

.partie44 h6{
    font-family: 'Montserrat';
    font-weight: 800;
    text-transform: uppercase;
    font-size: small;
}

.partie44 p{
    font-family: 'Open Sans';
    color: #898989;
    font-size: x-small;
}

.btn4 .btn{
    background-color: #6c98df ;
    border-radius: 5%;
    border: none;
    font-weight: 700;
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-size: 13px;
    width: 180px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*5.Club auto*/
.bg-image{
    background-image: url(/images/vehicule3.jpg);
    height: 650px;
    background-repeat: no-repeat;
    background-size:cover;
    
}

.prez{
    background-color: var(--Jaune);
    opacity: 88%;
    margin-top: 100px;
    
    
}

.prez h4{
  font-weight: 750;
  font-family: 'Montserrat';  
  font-size: 40px;
  color: black;
  
}

.prez p{
    font-family: 'Open Sans';
    font-weight: 650;
    font-size: small;
    color: black;
    
    
}

/*6.Footer*/
.footer{
    height: 150px;
    background-color: var(--Noir);
    margin-bottom: 0px;
}

.blocF1 h6{
    color: #6c98df;
    font-weight: 700;
    font-family: 'Montserrat';
    font-size: small;
}
.blocF1 span{
    font-weight: 700;
    font-family: 'Montserrat';
    font-size: small;
}

.blocF1 p{
    color: #aaaaaa;
    font-family: 'Open Sans';
    font-size: x-small;
    font-weight: 600;
}

.blocF2 h6{
    color: var(--Blanc);
    font-weight: 700;
    font-family: 'Montserrat';
    font-size: small;
}

.blocF2 p span{
    color: #aaaaaa;
    font-family: 'Open Sans';
    font-size: small;
    font-weight: 700;
}

.blocF2 p{
    font-size: small;
}

.blocF3 h6{
    color: var(--Blanc);
    font-weight: 700;
    font-family: 'Montserrat';
    font-size: small;
}

.blocF3 p{
    color: #aaaaaa;
    font-family: 'Open Sans';
    font-size: small;
    
}

.blocF3 form input{
    border-radius:0%;

}

.blocF3 form  button{
    border-radius: 0%;
    background-color: var(--Orange);
}


.blocF4 h6{
    color: var(--Blanc);
    font-weight: 700;
    font-family: 'Montserrat';
    font-size: small;

}

.copyRight{
    background-color: var(--Noir);
    
    
}

.copyRight p{
    color: #aaaaaa;
    font-family: 'Open Sans';
    font-size: small;
    margin: 0px 0px;
}

.hrFooter{
    width: 1020px;
    margin-left: 120px;
    
}

.blocF4 button{

    background-color: #393d40;
    border-radius: 0%;

}